<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    (click)="drawer.toggle()"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular Material</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <mat-list dense>
        <mat-nav-list>
            <a  class="title" mat-list-item [href]="item.path" *ngFor="let item of slideNavLink">
                <mat-icon class="mat-18 mat-home">ligature</mat-icon>
                {{item.path}}
            </a>
        </mat-nav-list>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
