<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label
      >Name:<span *ngIf="form.name.errors?.required">Name is required</span>
      </mat-label
    >

    <input matInput formControlName="name" name="name" />
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select formControlName="sex" name="sex">
      <mat-option value="Man">Man</mat-option>
      <mat-option value="Woman">Woman</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  <button mat-raised-button color="primary" type="submit">提交</button>
</form>
<form (ngSubmit)="onSubmit()" #modelForm="ngForm" >
  {{modelForm.valid}}
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" [(ngModel)]="model.name">
  <label for="sex">Sex:</label>
  <input id="sex" type="text" name="sex" [(ngModel)]="model.sex">
  <p>{{model.name}}</p>
  <p>{{model.sex}}</p>
</form>
