<div class="mat-display-4">123</div>

<button mat-button>click me</button>
<button mat-button disableRipple>click me</button>
<button mat-raised-button>click me</button>
<button mat-flat-button>click me</button>
<button mat-stroked-button>click me</button>
<button mat-icon-button>click me</button>
<button mat-fab>click me</button>
<button mat-mini-fab>click me</button>
<button color="primary" mat-button>click me</button>
<button color="accent" mat-button>click me</button>
<button color="warn" mat-button>click me</button>
<button color="primary" mat-raised-button>click me</button>
<button color="accent" mat-raised-button>click me</button>
<button color="warn" mat-raised-button>click me</button>
<mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>
{{toggleBtn.checked}}