<mat-accordion >
    <mat-expansion-panel>
        <mat-expansion-panel-header>Panel header</mat-expansion-panel-header>
         Panel body
        <mat-action-row>
            <button mat-button>Action1</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>Panel header</mat-expansion-panel-header>
         Panel body
        <mat-action-row>
            <button mat-button>Action1</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>